body
{
	background: #F7F7F7;
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}


/*links before selection */
a {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}

/*links on any screen when mouse is hovering over them */
a:hover {
	color: #0000AA;
	text-decoration: underline;
}

table {
}

/*table detail items default format */
td {
	font-family: Helvetica;
	font-size: 12px;
}

input {
	font-family: Helvetica;
	font-size: 12px;
}

select {
	font-family: Helvetica;
	font-size: 12px;
}


#topMenu {
	width: 100%;
	color: #000000;
	border: none;
	border-bottom: 1px solid #999999;
}

#trim {
	background: "#FFFFFF";
}

#page {
	width: 100%;
	color: #000000;
	font-size: 10px;
	white-space: nowrap;
	border: none;
}

#menuImg {
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#mainMenu {
	width: 100%;
	color: #000000;
	border: none;
	margin: 0px;
	padding: 0px;
}

#header
{
	height: 100px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #336601;
	border: none;
	margin: 0px;
	padding: 0px;
	
}

.login {
	border: none;
}

.callout_main {
	font-family: Helvetica;
	border:none;	
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_page {
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
 	font-size: 12px;
}



/* Main page heading with quick  within */
.quick_menu {
	border: none;
	margin: 0px;
	padding: 0px;
 	color: #000000;
	text-align: right;
	/* position: relative;
	top: 3px; */
}

/*The main page heading left part before quick menu */
.quick_menu_left {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	border: none;	
	white-space: nowrap;
	margin: 2px;
	padding: 2px;
	color: #000000;
}

/*the Select Customer / Item / Supplier Menu tabs */
.quick_menu_tabs {
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}


/*the Select Customer / Item / Supplier Menu tabs */
.system_menu_tabs {
	white-space: nowrap;
	border: none;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}

.system_menu_tabs a {
	font-size: 12px;
   	color: #000000;
}

.system_menu_tabs a:hover {
	font-size: 12px;
	color: #000000;
}

.main_area {
	border: 2px inset #FFFFFF;
	width: 100%;
}

.main_menu {
	border: 2px inset #FFFFFF;
}

.main_menu table {
	border: 0px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

.main_menu_unselected {
	background-color: #CCCCCC;
	border: 2px outset #FFFFFF;
/*	position: relative; */
	text-align: center;
	white-space: nowrap;
}

.main_menu_selected {
	background-color: #CCCCCC;
	border: 2px inset #FFFFFF;
/*	position: relative; */ 
	text-align: center;
	white-space: nowrap;
}

span.main_menu_nolink {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #777777;
	text-decoration: none;
	white-space: nowrap;
}

.main_menu a {
	font-weight: normal;
}

.main_menu a:hover {
	color: #0000aa;
	text-decoration: underline;
}

.menu_group_img {
	background-color: #CCCCCC;
	text-align: center;
	width: 90px;
	position: relative;
	left: 3px;
}

.menu_group_img img{
	position: relative;
	top: 10px;
}

.menu_group_area {
  	border: 0px inset #FFFFFF;
 	background: #FFFFFF;
}

.blank_area table {
	border: 0px;
	width: 100%;
}

.menu_group_headers {
  	border: 0px outset #AAAAAA;
  	width: 25%;
  	background: #4abcf8;
}

.menu_group_headers_text {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.menu_group_items {
	vertical-align: top;
	border: 0px outset #AAAAAA;
	padding: 10px;
}

.menu_group_item {
	padding-top: 2px;
	padding-bottom: 2px;
}

span.menu_group_nolink {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #777777;
	text-decoration: none;
}

.menu_group_item a {
}

.menu_group_items a:hover {
	color: #0000aa;
	text-decoration: underline;
}

#footer {
	position:fixed;
	left:0px;
	height:20px;
	width:100%;
	background:#336601;
	bottom: 0;
    right: 0;
	overflow: auto;
    width: 100%;
    z-index: 1;
}

.footer {
	position:fixed;
	font-family: Helvetica;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 12px;
	background:#2e5dab;
}
.legal {
	font-family: Helvetica;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  	border-style: ridge;
}

.promo {
	font-family: Helvetica;
	color: #000033;
}

.titlebar {
	font-family: Helvetica;
	font-size: 9px;
	color: #FFFFFF;
  	background-color: #336699;
}

.dingbat {
	font-family:Helvetica;
	background-color: #99CC99;
  color: #006666;
	font-weight: bolder;
	font-size: medium;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.tableheader {
	font-weight: normal;
	background-color: #cccce5;
	color: #330000;
}


.HelpTableHeader {
	font-weight: bold;
	background-color: #cccce5;
	font-size: 18px;
	color: #330000;
}

.OsRow {
	background-color: #234567;
	color: #FFFFFF;
}

.jtitle
{
	font-size: 40px;
	font-weight: normal;
	font family: Roboto Condensed;
	color: #333333;
}

.jtitle > span
{
	font-size: 20px;
}

.jheadtitle
{
	margin: 0px;
	padding: 0px;
	color: #333333;
}

.menu_group_item > a
{
	text-decoration: none;
	color: #949494;
	padding: 5px 0px 5px 10px;
	display: block;
}

.menu_group_item > a:hover
{
	text-decoration: none;
	color: #949494;
	background: #eae9e9;
}

.jinnertable
{
	border-collapse:collapse;
}
.jinnertable > tbody > tr > td.tableheader
{
	background:#336601;
	font-weight:bold;
	border:thin;
	color:#FFFFFF;
}
.jinnertable > tbody > tr > td
{
	border-top: 1px dashed #2E5DAB;
	border-bottom: 1px dashed #2E5DAB;
	border-right:hidden;
	padding:10px;
	color:#000000;
	background:#FAF258;
	text-align:center;
}
.jinnertable > tbody > tr > td a
{
	color:#303030;
}

.jinnerbot
{
	text-decoration: none;
	display: block;
	padding: 10px;
	background: #336601;
	border-radius:5px;
	border:1px solid #495363;
	color: #FFFFFF;
	font-weight: bold;
}

.jinnerbot:hover
{
	background: #FFFFFF;
	text-decoration: none;
	color: #444d5d;
}


.jinnerbot2
{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	background: #336601;
	border-radius:5px;
	border:1px solid #495363;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
}

.jinnerbot2:hover
{
	background: #FFFFFF;
	text-decoration: none;
	color: #444d5d;
}

.bgcolor
{
	background:#FFFFFF;
}

.bgcolorinner
{
	background:#FFFFFF;
	overflow:hidden;
	padding:0px 20px;
}

.ircenter
{
	background:#FFFFFF;
	margin:10px 0px 10px 0px;
	padding:10px 0px 10px 0px;
}

#jidholder1
{
	overflow:hidden;
	background-color: transparent;
	padding: 20px;
}

#jidholder1 > ul
{
	margin:0px;
	padding:0px;
	overflow: hidden;;
	list-style:none;
}

#jidholder1 > ul > li
{
	display: block;
	float: left;
	width: 15%;
	padding: 0px 0.33333%;
	margin: 10px 0.5%;

}

#jidholder1 > ul > li > a
{
	display: block;
	min-height: 40px;
	background: #f0f0f0;
	border-radius:5px;
	color: #333333;
	text-shadow: 0 1px 0 #FFFFFF;
	text-decoration: none;
	font-size: 15px;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 2px 4px rgba(0, 0, 0, 0.08), 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
	padding: 10px;
}

#jidholder1 > ul >li > a:hover
{
	background-color: #D7EBFF;
	color: #000000;
}

.jtitleadd
{
	font-size: 12px;
}
.jtitledesc
{
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}


/*-----------Payslip-------------*/
.jpayslip
{
	display:block;
	float:left;
	width:49.6%;
	margin:0.2%;
	margin-right: -9.4%;
}
.pstableheader {
	font-weight: normal;
	background-color: #cccce5;
	color: #330000;
}
.psliptable
{
	border-collapse:collapse;
}
.psliptable > tbody > tr > td.pstableheader
{
	background:#f5f5f6;
	font-weight:bold;
}

.psliptable > tbody > tr > td
{

	border:1px solid #ebebeb;
	padding:10px;
	color:#949494;
	background:#FFFFFF;
}

.psliptable > tbody > tr > td a
{
	color:#949494;
}


/*----------------TIME DATE CSS----------------------------*/
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
.ui-widget{font-size:12px !important;}


/*---------------textbox heading----------------*/
.tdtitle
{
	font-family:Helvetica;
	font-size: 13px;
	font-weight:bold;
	color: #000;
	line-height: normal;
	border-right: 1px solid #FFFFFF;
	padding: 2px 0;
	text-align:left
}
.intext {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 2px 4px;
}


/*------------employee display------------*/

.holder
{
	display:block;
	width:100%;
	overflow:hidden;
}
.left
{
	float:left;
	display:block;
	width:25%;
	background:#99CCFF;
}

.Empic 
{
    clip: rect(10px, 100px, 110px, 0px);
    width: 100px;
}

li
{ 
	list-style-type:none; 
	font-family: Helvetica;
	font-size: 11px;
}

.empName 
{
	font-family: Helvetica;
	color: #FFFFFF;
	font-size: 14px;
	font-weight:bold;
}

.empName:hover
{
	color: #0000AA;
	text-decoration: underline;
}

.empDetail
{
	font-family: Helvetica;
}

/*------------employee tab header---------*/

div.headholder
{
	display:block;
	width:100%;
	overflow:hidden;
}

div.hpictab
{
	float:left;
	display:block;
	width:10%;
	background-color:transparent;
}

div.hpictab:hover input
{
  display: block;
}

div.hpictab input
  {
  top:0;
  left:0;
  display:none;
  }
  
div.hnamedetail
{
	float:right;
	display:block;
	width:60%;
	background-color:transparent;
}
div.heditsave
{
	float: right;
	display:block;
	width:30%;
	background-color:transparent;
}

input[type="text"]:disabled
{
background:#FFFFFF;
color:#000000;
}
input[type="checkbox"][disabled]
{ 
 content: "\2714";
 background:#FFFFFF;
 color:#00000;
}


/*------------employee tab----------*/

.JTabs
{
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
}
	.JTabs li
	{
		display:block;
		float:left;
		padding:10px 20px;
		background:#336601;
		border-radius:5px 5px 0px 0px;
		color:#000000;
		margin:0px 5px;
	}
	
	.JTabs li a
	{
		text-decoration:none;
		color:#FFFFFF;
	}
	
.JContent
{
	background:#FAF258;
	border-right: 1px solid #DDDDDD;
    padding: 2px 0;
}
.theader 
{
	color: #474747;
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0 10px;
	text-decoration: blink;
}
.theader .th_clear 
{
    clear: both;
}

.main_title:after 
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.avatar > img {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    max-height: 90px;
    max-width: 90px;
}

/*---------emprofile pic------*/
div.simage
  {
  margin:5px;
  }

div.simage:hover input
  {
  display: block;
  }

div.simage input
  {
  position:absolute;
  top:0;
  left:0;
  display:none;
  }


/*AddeD by jhun*/

.hide_textbox {
  display: none;
}
.jtime {
	width: 65px !important;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: 2px 4px;
}

/*--------new index-------*/
#content 
{
	background-color: #F7F7F7;
	font: Helvetica;
	width:  100%;
	padding:10px;
	bottom: 20px;
	top: 100px;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    z-index: 1;
}

#hr
{
	font: Helvetica;!important
	list-style-type:none;
	
}

#payroll
{
	font: Helvetica;!important
	list-style:none;

}
#maintenance
{
	font: Helvetica;!important
	list-style:none;

}

.mtable
{
	border-left-style: solid;
	border-left-color:#e7e7e7;
	
}
.cmenu
{
	background: #4AAAF8;
	list-style:none;
	width:250px;
	height:30px;
	text-align:center;
}

.cmenu > a
{
	display: block;
	text-decoration:none;
	font: Helvetica;!important
	font-size: 15px;
	background: #336601;
	color: #FFFFFF;
	text-align:center;
	padding:10px;		
}

#innercon 
{
	
	font: Helvetica;
	width:  1275;
	
	padding-left:5px;
	padding-right:0px;
}

.subheader
{
	font: Helvetica;!important
	font-weight:bold;
	color: #000;
	font-size:35px;
	display: block;
	vertical-align:central;
}

/*--roboto--*/
@font-face {
    font-family: 'Roboto';
    src: url('RobotoCondensed-Light.ttf') format('truetype'),
    font-weight: 200;
}


.tetahdate
{
	float: right;
    margin-top: 5px;
}

.tetahwelcome
{
	float: right;
    margin-right: -160px;
    margin-top: 65px;
}


.span13 {
    width: 1050px !important;
}

.span12
{
  width: 940px !important;
}

.span3
{
  width: 260px !important;
  float: left !important;
}

.module-box {
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.2);
    margin-top: 100px;
    min-height: 240px;
    overflow: hidden;
    width: 240px;
}

#yes_deduct {
	background: #A9E2F3;
	opacity: 0.5;
	filter: Alpha(opacity=50);
}