/*--------------------------------------------------\
|               |               | login.css         |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
| BrainX                                            |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected on the login screen.                    |
|                                                   |
|                                                   |
\--------------------------------------------------*/


<!-- \$Revision: 1.5 $ -->


body {
	background: "#ffffff";
	font-family: arial, verdana;
	font-size: 10px;
}

.loginText {
	font-family: arial, verdana;
	font-weight: bold;
	font-size: 12px;
}

.borderBox{
	background-color: #555555;
}

.middleBar{
	background-color: #367CB5;
}

.logoBackground{
	background-color: #285B86;
}

.mainTable{
	background-color: #285B86;
}

a:hover {
	text-decoration: underline;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}


/*added by cdpr*/

body {
	background-color: #FBFBFB;
}
.header {
	background-color: #336601 !important;
}
.footer {
	background-color: #336601 !important;
	color: #FFFFFF;
	text-align: center;
}
.content {
	background-color: #F7F7F7;
}
#login
{
	background-color: #F7F7F7;
	font: Helvetica;
	width:  573;
	height: 294;
	alignment-adjust:central;
}
.jlogholder
{
  display: block;
  width: 300px;
  margin: 0px auto;
  text-align: center;
}

.jlogholder > h1
{
  margin: 30% 0px 0px 0px;
  padding: 0px;
  color: #FFFFFF;
  font-size: 60px;
}
.jlogholder > h3
{
  margin:0px 0px 20px 0px;
  padding: 0px;
  color: #FFFFFF;
}
.userlog
{
  background: none repeat scroll 0 0 padding-box #F7F7F7;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding:10px 10px;
  width: 299px;
  display: block;
  transition: all 300ms ease-in-out 0s;
  color: #2E5DAB;
  margin:10px 0px;
}

.userlogBot
{
  background: none repeat scroll 0 0 padding-box #336601 !important;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding:15px 10px;
  width: 299px;
  display: block;
  transition: all 300ms ease-in-out 0s;
  color: #F7F7F7;
  text-transform: uppercase;
  margin:10px 0px;
  cursor: pointer;
}
.userlogBot:hover
{
  background: #2e5dab;
}
